<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="shortcut icon" href="assets/favicon.ico"/>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Welcome
    <% if tm_user_signed_in? %>
        <%= link_to('Logout', destroy_tm_user_session_path, :method => :delete, :class => ("btn btn-default")) %>
    <% else %>
        <%= link_to('Sign In', new_tm_user_session_path, :method => :get, :class => ("btn btn-default")) %>
        <%= link_to('Sign Up', new_tm_user_registration_path, :method => :get, :class => ("btn btn-default")) %>
    <% end %>
</body>
</html>